/* Temp convertor */
*{
    padding: 0px;
    margin: 0px;
  
    position: relative;
}

.container{
    font-family:Arial, Helvetica, sans-serif;
    gap: 20px;
    position: absolute;
    margin-left: 500px;
    margin-top: 150px;
    width: 580px;
    height: 400px;
    background-color: black;
    color: white;
    justify-content: center;
    padding: 20px;
    font-size: large;
    
    h1{
        font-size: 20px;
        padding: 5px;
        color: aqua;
        
    }

    input{
        color: black;
       padding: 10px;
       margin-top: 10px;
       
    }
    p{
      font-size: 15px;
      margin-top: 10px;
      color: rgb(94, 255, 0);
    }

  button{
  padding: 15px;
  background-color: royalblue;
  }

  button:hover{
    color: black;
    background-color: rgb(244, 246, 247);
  }
}